################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
Sync.cmd
lib/telemetryclient.js.map
package-lock.json
lib/telemetryclient.js
lib/telemetryclient.d.ts
